:root {
  --bg-color-primary: rgba(31, 41, 55, 0.932);
}

.bg-color-primary {
  background-color: var(--bg-color-primary) !important;
}

.card {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.04);
  border-radius: 16px;
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 1px solid rgba(255, 255, 255, 0.01);
}

.text-extrasmall {
  font-size: 11px !important;
}

.inputAutofill:-webkit-autofill,
.inputAutofill:-webkit-autofill:hover,
.inputAutofill:-webkit-autofill:focus,
.inputAutofill:-webkit-autofill:active {
  margin-top: 3px;
  padding: 10px;
  -webkit-box-shadow: 0 0 0 30px #272452 inset !important;
  -webkit-text-fill-color: #8E95A4 !important;
}